<div class="container">

  <table id="journal" class="table">
    <thead>
      <tr>
        <th class="date-column">Date</th>
        <th></th>
        <th></th>
        <th>Journal Entry</th>
      </tr>
    </thead>
    <body>
      <% @journal_entries.each do |entry| %>
        <tr>
          <td class="date-column"><%= entry.date.strftime("%Y-%m-%d") %></td>
          <td><a><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
          <td><a><i class="fa fa-trash" aria-hidden="true"></i><a></td>
          <td><%= entry.entry %></td>
        </tr>
      <% end %>
    </body>
  </table>
  <br>

  <div class="">
    <%= link_to "Add new journal entry", new_user_hike_journal_entry_path %>
  </div>

  <div class="">
    <p>Photo album placeholder</p>
  </div>

</div>
