<h1 class="text-center">My Profile</h1>

<br><br>
<div class="row">
  <div class="large-6 large-centered columns">
    <h5>Username:  <%= @user.username %></h5>
    <h5>Email:  <%= @user.email %></h5>
    <br><br>
    <div class="text-left">
      <%= link_to "Edit Account", edit_user_registration_path %>
    </div>
  </div>
</div>
