<!-- Searchable Google Map -->
<input id="pac-input" class="controls" type="text" placeholder="Search (example: 'hiking trails near Denver')"></input>

<input id="pac-input" class="controls" type="text" placeholder="Search (example: 'hiking trails near Denver')"></input>


<div id="map" class="col s8 left"></div>

<div id="right-panel" class="col s4 right">
  <h2>Results</h2>
  <ul id="places"></ul>
  <button id="more">More results</button>
</div>
