// navbar and general
.nav-wrapper {
  background-color: white;
  height: 40px;
  padding-left: 1rem;
}

.navbar {
  margin-bottom: 0;
  padding-bottom: 0;
}

.trailhead{
  font-size: 80px;
}

.panorama {
  width: 100%;
  align-self: stretch;
  margin-bottom: -5px;
  padding: 0;
}

.options {
  width: 100%;
  background-color: #ffffff;
  padding-bottom: 1rem;
}

.search_link.hover {

}

.add-trail {
  background-color: #ffffff;
  margin-top: 10px;
  padding: 15px;
  border-radius: 1rem;
}

.btn {
  background-color: #1565c0;
}


.buttons {
  display: inline-block;
}

.notice {
  color: slateblue;
  font-style: italic;
  margin-top: 10px;
}

.alert {
  color: red;
  font-style: italic;
  margin-top: 10px;
}

// hike show page
.onlist {
  color: slateblue;
  font-style: italic;
}

.remove {
  margin-right: 1rem;
  margin-left: 12rem;
}

.add {
  margin-right: 1.5rem;
}

.tooltip {
    position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #fff;
    color: black;
    text-align: center;
    padding: 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 5;
}

.search-link {
  padding: 0;
}

.add-remove {
  display: inline-block;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

// hike index
.table-div {
  margin-left: 10rem;
  margin-right: 10rem;
  background-color: white;
  padding: 3rem;
  border-radius: 1rem;
}

.number {
  text-align: center;
}

.end {
  padding: 3px;
}

// user-hike show & edit
.input-field.trip-details {
  font-size: 1.5rem;
  height: 10rem;
}

.add-trip-details {
  font-size: 3rem;
}

.photo-field {
  font-size: 1.5rem;

}

.journal {
  background-color: #45546d;
  color: white;
  font-style: italic;
}

body {
  background-color: #f2f4f7;
}

//#01579b;
