// navbar and general
.nav-wrapper {
  background-color: white;
  height: 40px;
  padding-left: 1rem;
}

.trailhead{
  font-size: 80px;
}

.panorama {
  width: 100%;
  align-self: stretch;
}

.buttons {
  display: inline-block;
}

.notice {
  color: slateblue;
  font-style: italic;
  margin-top: 10px;
}

.alert {
  color: red;
  font-style: italic;
  margin-top: 10px;
}

// hike show page
.onlist {
  color: slateblue;
  font-style: italic;
}

.remove {
  margin-left: 12rem;
}

// hike index
.table-div {
  margin-left: 10rem;
  margin-right: 10rem;
}

.number {
  text-align: center;
}

.end {
  padding: 3px;
}
